<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Confirmation</title>
  </head>
  <body style="font-family: 'Roboto', sans-serif; margin: 0; padding: 0;">
    <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
      <tr>
        <td align="center">
          <table width="600" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse;">
            <tr>
              <td align="center" style="padding: 20px;">
                <img src="{{ domain }}api/static/image.png" width="70" alt="Logo" />
              </td>
            </tr>
            <tr>
              <td align="center" style="padding: 20px; font-size: 18px; color: #333;">
                <p>Your code to confirm email:</p>
              </td>
            </tr>
            <tr>
              <td align="center">
                <table width="200" cellspacing="0" cellpadding="10" border="0" style="background: #ccc; border-radius: 5px;">
                  <tr>
                    <td align="center" style="font-size: 20px; font-weight: bold; color: #000;">
                      {{ code }}
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
